<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Adicione outras fontes de pacotes, se necessário -->
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="true" />
  </activePackageSource>
</configuration>
